body{
    background-image: url("../../assets/images/background.png");
    color: white;
}

.boxes{
    height: 100px;
    width: 100px;
}

.header{
    background-color: black;
    height: 75px;
    width: 300px;
}

.info{
    margin-top: 50px;
    background-color: black;
    width: 450px;
}

.random_number_box, .score_box{
    background-color:black;
    height: 200px;
    width: 200px;
}

.random-number, #total_score{
    font-size: 48px;
    font-weight: bold
}